<div class="card my-5">
  <div class="card-body">
    <h2>Jelentkezés demonstrátornak</h2>
    <form #addCandidate="ngForm" (ngSubmit)="onSubmit(addCandidate.value)">
      <div class="form-group">
        <label for="firstName">Vezetéknév</label>
        <input type="text" ngModel
               class="form-control"
               id="firstName"
               name="firstName"
               placeholder="Vezetéknév"
               required>

      </div>

      <div class="form-group">
        <label for="lastName">Keresztnév</label>
        <input type="text" ngModel
               class="form-control"
               id="lastName"
               name="lastName"
               placeholder="Keresztnév"
               required>

      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" ngModel
               class="form-control"
               id="email"
               name="email"
               placeholder="E-mail cím"
               required>

      </div>

      <div class="form-group">
        <label for="email">Telefonszám</label>
        <input type="text" ngModel
               class="form-control"
               id="phone"
               name="phone"
               placeholder="Telefonszám"
               required>

      </div>

      <div *ngFor="let course of courses">
        <input type="checkbox" name="course{{course.id}}" id="course{{course.id}}"/> 
        <label for="course{{course.id}}"> {{course.name}} - {{course.beginningTime}}</label><br>
      </div>


      <button type="submit"
              class="btn btn-info">
        Jelentkezés
      </button>
    </form>
  </div>
</div>
