<div class="card my-5">
  <div class="card-body">
    <h2>Kurzus másolása</h2>
    <form #copyCourse="ngForm" (ngSubmit)="onSubmit(copyCourse.value)">
      <input type="hidden" id="id" name="id" ngModel [(ngModel)]="course.id" />
      <div class="form-group">
        <label for="name">Kurzusnév</label>
        <input type="text" ngModel
               [(ngModel)]="course.name"
               class="form-control"
               id="name"
               name="name"
               placeholder="Kurzusnév"
               required>

      </div>

      <div class="form-group">
        <label for="beg">Kezdés időpontja</label>
        <input type="text" ngModel
               [(ngModel)]="course.beginningTime"
               class="form-control"
               id="beg"
               name="beg"
               placeholder="Kezdés"
               required>

      </div>

      <div class="form-group">
        <label for="dur">Időtartam</label>
        <input type="number" ngModel
               [(ngModel)]="course.duration"
               class="form-control"
               id="dur"
               name="dur"
               placeholder="Időtartam"
               required>

      </div>


      <button type="submit"
              class="btn btn-info">
        Hozzáadás
      </button>
    </form>
  </div>
</div>
