<div class="card my-5">
  <div class="card-body">
    <h2>Új kurzus hozzáadása</h2>
    <form #addCourse="ngForm" (ngSubmit)="onSubmit(addCourse.value)">
      <div class="form-group">
        <label for="name">Kurzusnév</label>
        <input type="text" ngModel
               class="form-control"
               id="name"
               name="name"
               placeholder="Kurzusnév"
               required>

      </div>

      <!--
  <div class="form-group">
    <label for="lastName">Félév</label>
    <input type="text" ngModel
           class="form-control"
           id="year"
           name="year"
           placeholder="Félév"
           required>

  </div>
    -->


      <div class="form-group">
        <label for="beg">Kezdés időpontja</label>
        <input type="time" ngModel
               class="form-control"
               id="beg"
               name="beg"
               placeholder="Kezdés"
               required>

      </div>

      <div class="form-group">
        <label for="dur">Időtartam</label>
        <input type="number" ngModel
               class="form-control"
               id="dur"
               name="dur"
               placeholder="Időtartam"
               required>

      </div>


      <button type="submit"
              class="btn btn-info">
        Hozzáadás
      </button>
    </form>
  </div>
</div>

