<div class="col-6">
<h1>Kezdőoldal</h1>
<h2>Hallgatóknak</h2>
<p><i>Ha mindig is szerettél volna a laborvezetőd helyében lenni, vagy már kipróáltad, és tetszett, jelentkezz!</i></p>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna.</p>
<p> <a href="/add" class="btn btn-primary">Jelentkezés</a></p>
<h2>Oktatóknak</h2>
<p>Belépés az oktatói felületekre.</p>
<p> <a href="/candidates" class="btn btn-primary">Jelentkezések</a></p>
<p> <a href="/courses-list" class="btn btn-primary">Kurzusok</a></p>
</div>

