div.header{
    background-color: lightblue;
    color: navy;
    height: 40px;

}

dialog.header a{
    text-decoration: none;
    color: inherit;
}

div.nagybox{
    margin-left: 50px;
    margin-top: 50px;

}
